<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%pid] - %msg%n" />
        </Console>

        <RollingFile name="ServiceAppender" fileName="logs/aop-annotations.log" append="true"
                     filePattern="logs/aop-logs-%d{yyyy-MM-dd}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="19MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%pid] - %msg%n" />
        </RollingFile>

        <File name="FileAppAppender" fileName="logs/application.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%pid] - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppAppender"/>
            <AppenderRef ref="FileAppAppender"/>
        </Root>

        <Logger name="com.vashchenko.education.t1.task_1.aop" level="info" additivity="true">
            <AppenderRef ref="ServiceAppender"/>
        </Logger>
    </Loggers>
</Configuration>
